@import url('https://fonts.googleapis.com/css?family=Russo+One');
@import url('https://fonts.googleapis.com/css?family=Candal');
html,
body {
    margin: 0 !important;
    padding: 0 !important;
    height: 100%;
    width: 100%;
    background-color: white !important;
    color: #d1d6c6;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif !important;
}

.home-content {
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
    background-color: #eee;
}

#nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid black;
    height: 50px;
    width: 100%;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    padding: 10px 0px 10px 20px;
    box-sizing: border-box;
    z-index: 1000;
}

.row {
    margin: 0 !important;
}

.nav-right {
    float: right;
    margin-right: 30px;
}

.fa {
    font-weight: 800 !important;
}

.arrow-left {
    color: black;
    float: left;
    font-size: 20px;
}

.about-tukio {
    text-align: center;
    width: 100%;
    background-color: black;
    color: white;
    padding: 80px;
    line-height: 30px;
    letter-spacing: 1px;
    font-size: 16px;
}

.footer {
    text-align: center;
    color: white;
    background-color: black;
    padding: 20px;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 10px !important;
}

.line-break {
    height: 0;
    border: 0;
    width: 100px;
    border-top: 3.5px solid black !important;
}

#transform-uppercase {
    text-transform: uppercase;
}

hr {
    height: 0 !important;
    border: 0;
    border-top: 1px solid black !important;
}

.header {
    background-image: url('../img/bgfaded.jpg');
    background-size: cover;
    width: 100%;
    height: 100vh;
    text-align: center;
    margin: 0 !important;
    -webkit-animation: fadein 1.5s;
    -moz-animation: fadein 1.5s;
    -ms-animation: fadein 1.5s;
    -o-animation: fadein 1.5s;
    animation: fadein 1.5s;
}

.headline {
    padding-top: 210px;
    color: black;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 5rem;
    width: 50%;
    margin: 0 auto;
    letter-spacing: 2px;
    font-family: 'Candal', sans-serif;
}

.headline-text {
    font-weight: 800;
}

ul.nav-right {
    font-family: 'Russo One', sans-serif;
    text-transform: uppercase;
    color: black !important;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
}

li {
    color: black !important;
}

#login-input {
    padding-top: 30px;
}

.register {
    color: white;
    background-color: black;
    text-transform: uppercase;
    text-align: center;
    border-radius: 25px;
    margin: 20px auto !important;
    width: 240px;
    height: 50px;
    font-size: 13px;
    padding: 14px;
    font-weight: 600;
    box-sizing: border-box;
    letter-spacing: 1px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    box-shadow: 0 1px 3px rgba(255, 255, 255, 0.3), inset 0 10px 10px rgba(255, 255, 255, 0.2), inset 0 -10px 10px rgba(255, 255, 255, 0.2);
}

.register:hover {
    background-color: white;
    color: black;
    border: 2px solid #333;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), inset 0 10px 10px rgba(0, 0, 0, 0.1), inset 0 -10px 10px rgba(0, 0, 0, 0.2);
}

.search-button {
    color: white;
    background-color: #000;
    text-align: center;
    border-radius: 3px;
    margin-left: 20px;
    width: 200px;
    height: 50px;
    font-size: 15px;
    padding: 14px;
    box-sizing: border-box;
}

.register,
.search-button:hover {
    cursor: pointer;
}

.search-options {
    color: red;
}

.home-nav {
    color: black;
    text-align: center;
    font-size: 3rem;
    letter-spacing: 1px;
    margin: 50px auto;
}

.container {
    width: 100% !important;
    margin: 0 auto !important;
    padding: 0 !important;
}

#logo {
    height: 30px;
    float: left;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
}

.login-content {
    background-image: url('../img/loginbg.jpg');
    background-size: cover;
    height: 100vh;
    padding-top: 100px !important;
}

.login-box {
    background-color: white;
    width: 30%;
    margin: 0 auto;
    min-width: 400px;
    padding: 30px;
    text-align: center;
    -webkit-animation: fadein 1.5s;
    -moz-animation: fadein 1.5s;
    -ms-animation: fadein 1.5s;
    -o-animation: fadein 1.5s;
    animation: fadein 1.5s;
}

#sublogo {
    width: 25%;
    margin-bottom: 20px;
}

.button-div {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

a {
    color: red !important;
}

button:focus {
    outline: none !important;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.concert,
.festivals {
    width: 70%;
    display: block;
    margin: 40px auto;
}

li {
    display: inline-block;
    vertical-align: middle;
    border-radius: 2px;
    padding: 5px;
    font-size: 14px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(70, 70, 70, 0.9);
}

.modal-content {
    background-color: white !important;
    color: black;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 0px !important;
    width: 55%;
    min-width: 400px;
    box-shadow: none !important;
    animation: blowUpModal 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}

#modal-title {
    width: 70%;
}

input {
    outline: none;
    border: none !important;
    border-radius: 0 !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    border-bottom: 1px solid black !important;
}

.form-group {
    width: 90% !important;
    margin: 0 auto;
}

#inline-element {
    display: inline-block;
    width: 50%;
    text-align: left;
    vertical-align: top;
    padding: 10px;
}

.center-text {
    text-align: center;
    letter-spacing: 1px;
    font-size: 14px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes blowUpModal {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes blowUpModalTwo {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0);
        opacity: 0;
    }
}

.search-content {
    background-color: black;
    color: white;
    margin-top: 50px;
    text-align: center;
}

.search-header-input {
    display: inline-block !important;
    width: 50% !important;
}

.address-input,
.radius-input {
    background-color: #333;
    display: inline-block !important;
    width: 20%;
    padding-left: 20px;
}

.checkbox {
    display: inline-block !important;
    margin: 10px;
}

#image-header {
    width: 33.33%;
    margin-top: -1px;
    margin-bottom: -1px;
}

input[type='checkbox'] {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.mapAPI {
    width: 60%;
    display: inline-block;
    vertical-align: top;
}

.event-results {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.panel-title {
    color: #ED3E2F !important;
}

.panel-primary {
    background-color: #eee !important;
    border-radius: 0px !important;
    border: none !important;
}

.panel-heading {
    background-color: black !important;
    border-radius: 0px !important;
    border: 0 !important;
}

p {
    font-size: 14px !important;
}

#search-component-logo {
    width: 150px;
    filter: invert(100%);
    display: inline-block !important;
}

.search-content {
    background-color: #333;
    margin-top: 0 !important;
    padding: 20px;
}

form {
    display: inline;
    margin: 0;
}

.user-content {
    padding-top: 100px;
}

.user-info-panel {
    width: 30%;
    display: inline-block;
    vertical-align: top;
    margin: 5%;
}

.user-info-container {
    text-align: center;
}